.viewer {
    background-color: rgb(255, 255, 250);
}

.viewer-controls {
    padding: 5px;
}

.viewer-content {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "sidebar content";
    grid-gap: 30px;
}

.viewer-content__sidebar {
    grid-area: sidebar;
    margin-inline-end: 15px;
    position: relative;
    height: 400px;
    overflow: scroll;
}

.viewer-content__content {
    grid-area: content;
    height: 400px;
    overflow: scroll;
}

.action {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.action__key {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}